html,body {
    overflow-x: hidden;
    color: white;
    height: 100%;
}
#intro{
    background: url("../images/computers-3.png") no-repeat center center fixed ;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    position: sticky;

}
.nav-link{
    text-decoration: none;
    color: #a5a3a8;
}
.nav-link:hover, .nav-link.active, .nav-link:focus{
    color: #108c24;
}

nav a{
    font-size: 1.1em !important;
    font-weight: 500;

}
#intro-text{

    color: white;
    text-align: center;
}
.navbar{
    letter-spacing: 0.1rem;
    background: rgba(0,0,0,0); !important;
    opacity: 0.7;
}
.brand-name{
    color: #ffffff;
    margin-left: 10px;
}
.btn-outline-dark{
    color: #b3b1b7; !important;
}
#intro-btn{
    text-align: center;
    margin-top: 130px;
}
#intro-btn button{
    margin: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1.6rem;
}
.separator-type, .title-type, .intro-type, .content-type .intro-type p {
    position: relative;
}
.intro-type .containers {
    padding: 107px 0px 102px 0px !important;
}

.parallax {
    background-attachment: inherit !important;
}
.parallax {
    background-attachment: inherit !important;
}
.parallax {
    background-attachment: inherit !important;
    background-repeat: repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    z-index: -10;
}
.ct-btn-scroll {
    width: 49px;
    height: 49px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 500px;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

#jumbo{
    width: 100%;
    height: 100%;
    border-radius:0 ; !important;
}
#about-text{
    font-size: 1.2rem;
}
.about-icon{
    font-size: 48px;
    color: white;
}
.about-table td{
    padding: 4px 5px 4px 5px ;
}
.about-lower-head{
    font-size: 1.2rem;
}
#about-low{
}
#about-low div{
    margin-top: 30px;
}
#projects{
    color: black;
}
#projects .cards, #projects .container{
    margin-top: 40px;

}
.project-heading{
    margin-top: 60px;
}
#team{
    color: black;
}
#contact{
    color: black;
}
.social i{
    font-size: 3.5em;
    padding: 3rem;
}
.social-card i{
    font-size: 2rem;
    padding: 1rem;
}
.fa-facebook{
    color: #3b5998;
}
.fa-github{
    color: #211f1f ;
}
.fa-instagram{
    color: #8A49A1;
}
.fa-linkedin{
    color: #0077B5;
}

section .section-title {
    text-align: center;
    color: darkgray;
    margin-bottom: 50px;
    text-transform: uppercase;
}
footer {
    background: black !important;
    padding: 60px 0;
}
#footer h5{
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.quick-links li a{
    color:#ffffff;
}
#footer ul.quick-links li{
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
}
#footer ul.quick-links li a i{
    margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}
