html,body {
    overflow-x: hidden;
    color: white;
    font-size: 1em;
    position: relative;
}


#intro{
    background: url("../images/computers-3.png") no-repeat center center fixed ;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    position: sticky;

}
.nav-link{
    text-decoration: none;
    color: #a5a3a8;
}
.nav-link:hover, a.nav-link.active, .nav-link:focus{
    color: #108c24;
}

nav a{
    font-size: 1.1em !important;
    font-weight: 500;

}
#intro-text{

    color: white;
    text-align: center;
}
.navbar{
    letter-spacing: 0.1rem;
    background: rgba(0,0,0,0); !important;
    opacity: 0.6;
}
.brand-name{
    color: #ffffff;
    margin-left: 10px;
}
.learnmore-btn{
    color: #b3b1b7; !important;
}
#intro-btn{
    text-align: center;
    margin-top: 130px;
}
#intro-btn button, #intro-btn a{
    margin: 10px;
    padding: 3px 50px;
    font-size: 1.6rem;
}

.intro-type .containers {
    padding: 107px 0px 102px 0px !important;
}

.bounce {
    animation: bounce 2s 2s;
}
.bounce2{
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
@keyframes bounce2 {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

#jumbo{
    width: 100%;
    height: 100%;
    border-radius:0 ; !important;
}
#about-text{
    font-size: 1.2rem;
}
.about-icon{
    font-size: 2em;
    color: white;
    padding-right: 15px;
}
.about-table {
    margin-top: 30px;
}
.about-table td{
    padding: 4px 5px 4px 5px ;
}
.about-lower-head{
    font-size: 1.1rem;
}

#about-low div{
    //margin-top: 30px;
}
#projects{
    color: black;
}
#projects .container{
    //margin-top: 40px;

}
.project-heading{
    margin-top: 60px;
}
#team{
    color: black;
}
#contact{
    color: black;
}
.social i{
    font-size: 3.5em;
    padding: 3rem;
}
.social-card i{
    font-size: 2rem;
    padding: 1rem;
}
.fa-facebook{
    color: #3b5998;
}
.fa-github{
    color: #211f1f ;
}
.fa-instagram{
    color: #8A49A1;
}
.fa-linkedin{
    color: #0077B5;
}

section .section-title {
    text-align: center;
    color: darkgray;
    margin-bottom: 50px;
    text-transform: uppercase;
}
footer {
    background: black !important;
    padding: 60px 0 20px 0;
    margin-top: 2rem;
}
#footer h5{
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.quick-links li a{
    color:#ffffff;
}
#footer ul.quick-links li{
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
}
#footer ul.quick-links li a i{
    margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media screen and (max-width: 767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
    .about-lower-head{
        font-size: 1.1em;
    }
}

/* sm */
@media screen and (min-width: 768px) {

}

/* md */
@media screen and (max-width: 992px) {
    .display-3{
        font-size: 3.5rem; !important;
    }
    .display-4{
        font-size: 2.5rem;
    }
    #intro-btn{
        margin-top: 50px;
    }
    #arrow{
        margin: 30px;
    }
    #about-text{
        font-size: 1em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {

}
a i:hover{
    text-shadow: 1px 1px darkgray;
}
#arr-img{
    fill: #ffffff;
}